<mat-card class="filters">

	<mat-card-header>
		<mat-card-title>
			Find your movie
		</mat-card-title>
	</mat-card-header>

	<mat-card-content>

		<form class="form" autocomplete="off">
			<div class="grid">

				<div class="grid__item">
					<mat-form-field class="form-field">
						<input matInput placeholder="Search by name" [formControl]="search">
					</mat-form-field>
				</div>

				<div class="grid__item">
					<mat-form-field class="form-field">
						<mat-label>Genres</mat-label>
						<mat-select [formControl]="genres" multiple>
							<mat-option *ngFor="let genre of genreList" [value]="genre">
								{{ genre }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
		</form>

	</mat-card-content>
</mat-card>

<div class="grid mt-20">

	<div class="grid__item" *ngFor="let movie of movies$ | async">

		<mat-card class="movie-card" [routerLink]="[movie.id]">

			<mat-card-header class="movie-card__header">
				<mat-card-title>
					{{ movie.name }}
				</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<img [src]="'assets/images/movie-covers/' + movie.img">

				<footer class="movie-card__tags">
					<mat-chip-list>
						<mat-chip *ngFor="let genre of movie.genres">
							{{ genre }}
						</mat-chip>
					</mat-chip-list>
				</footer>
			</mat-card-content>
		</mat-card>


	</div>

</div>