<mat-card>

	<mat-card-header>
		<mat-card-title>
            Find you movie
        </mat-card-title>
	</mat-card-header>

	<mat-card-content>

		<form class="form" autocomplete="off">
			<div class="grid">

				<div class="grid__item">
					<mat-form-field class="fluid">
						<input matInput placeholder="Search by name">
					</mat-form-field>
				</div>
			</div>
		</form>

	</mat-card-content>
</mat-card>

<div class="grid mt-20">

	<div class="grid__item" *ngFor="let movie of movies$ | async">

		<mat-card class="movie-card">

			<mat-card-header class="movie-card__header">
				<mat-card-title>
					{{ movie.name }}
				</mat-card-title>
			</mat-card-header>
		
			<mat-card-content>
				<img [src]="'assets/images/movie-covers/' + movie.img">
			</mat-card-content>
		</mat-card>
		

	</div>

</div>