html, body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: #fafafa;
}

.container {
	margin: 100px auto;
	width: 1000px;
}

.fluid {
	width: 100%;
}

.grid {

	margin: 0 -20px;

	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;

}

.grid__item {
	padding: 0 20px;
	width: calc(100%/4);
	box-sizing: border-box;
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}