$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: #fafafa;
}

* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
    max-width: 1000px;
	padding: 20px;
	
	@media screen and (min-width: $screen-lg-min) {
		margin: 0 auto;
		padding: 100px 0;
	}
}

.form-field {
	width: 100%;
	font-size: 16px;
}

.grid {
	margin: 0 -20px;
	display: flex;
	flex-wrap: wrap;
}

.grid__item {
	padding: 0 20px;
	box-sizing: border-box;

	@media screen and (min-width: $screen-sm-min) {
		width: 100%;
	}

	@media screen and (min-width: $screen-md-min) {
		width: calc(100%/2);
	}

	@media screen and (min-width: $screen-lg-min) {
		width: calc(100%/4);
	}
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}