<mat-card class="movie-page" *ngIf="(movie$ | async) as movie">

    <div class="movie-page__cover">
        <img [src]="'assets/images/movie-covers/' + movie.img">
    </div>

    <div class="movie-page__main">
        <h1>
            {{ movie.name }}
        </h1>

        <p>
            {{ movie.description }}
        </p>

        <div class="rating">
            <div class="rating__header">
                Rating:
            </div>
            <div #rater [attr.rate]="movie.rate"></div>
        </div>

        <p>
            <i class="material-icons">access_time</i> {{ movie.length }}
        </p>

        <footer class="genres">
            <div class="genres__header">
                Genres: 
            </div>

            <mat-chip-list>
                <mat-chip *ngFor="let genre of movie.genres">
                    {{ genre }}
                </mat-chip>
            </mat-chip-list>
        </footer>


    </div>
</mat-card>