@import "../../scss/variables.scss";

.movie-page {
    margin-top: 80px;
    position: relative;

    &::after{
        clear: both;
        display: table;
        content: '';
    }

    &__cover {
        float: left;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .length i {
        position: relative;
        top: 5px;
        margin-right: 5px;
    }


    .genres__header {
        float: left;
        padding: 10px 0;
        margin-right: 10px;
    }

    .rating__header {
        float: left;
        margin-right: 10px;
        padding: 3px 0;
    }

    footer {
        margin-top: 30px;
    }

    .back {
        position: absolute;
        top: -66px;
        left: 0;
        cursor: pointer;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        background: #fff;
        height: 48px;
        width: 48px;
        text-align: center;
        user-select: none;

        @media screen and (min-width: $screen-lg-min) {
            top: 0px;
            left: -66px;
        }

        &:hover {
            background: #e0e0e0;
        }
        i {
            line-height: 48px;
            font-size: 32px;
        }
    }
}